<div class="card">
  <div class="card-header">
    <div>
      <h2 style="color: #3dbb3f">Đã đọc</h2>
    </div>
    <div class="add-book">
      <form class="d-flex col-6">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
               placeholder="Search">
      </form>
    </div>
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" colspan="3" width="400px">Name</th>
        <th scope="col" colspan="2"></th>
      </tr>
      </thead>
      <tbody>
      <tr>
      <tr  *ngFor="let book of books | filter:searchText ; let i = index" >
        <th scope="row" *ngIf="book.read === true">{{i + 1}}</th>
        <td colspan="3" *ngIf="book.read === true">{{book.name}}</td>
        <td *ngIf="book.read === true">
          <button class="btn btn-success">Đọc lại</button>
          <a class="btn btn-danger" (click)="deleteBook(i)">Delete</a>
        </td>
      </tr>
      </tbody>
      <tr  *matHeaderRowDef="displayedColumns"></tr>
      <tr  *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
