<!--<div class="card">-->
<!--  <div class="card-header">-->
<!--    <div>-->
<!--      <h3 class="text-center" style="color: #2f82ff">Detail</h3>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="card-body">-->
<!--    <table class="table">-->
<!--      <thead>-->
<!--      <tr>-->
<!--        <th scope="col">#</th>-->
<!--        <th scope="col" colspan="3" width="400px">Name</th>-->
<!--        <th scope="col" colspan="2"></th>-->
<!--      </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
<!--      <tr *ngIf="book">-->
<!--        <th scope="row">{{book.id}}</th>-->
<!--        <td colspan="3">{{book.name}}</td>-->
<!--        <td>-->
<!--          <h3>Nội dung</h3>-->
<!--        </td>-->
<!--      </tr>-->
<!--      </tbody>-->
<!--    </table>-->
<!--  </div>-->
<!--</div>-->
